@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wdth,wght@91.4,483&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

@media(max-width: 600px){
    .body{
        min-width: 600px;
    }
}

body{
    padding: 0;
    margin: 0;
    overflow: visible;
    height: 100%;
    background-image: url(Images/G6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.Header{
    width: auto;
    height: 100%;
    text-transform: uppercase;
    padding-left: 17%;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.Header h1{
    font-size: 27vh;
    font-family: "Nova Square";
    display: flex;
    align-items: center;
    border: 10px black solid;
    border-radius: 10px;
    width: 76%;
    text-align: center;
}
.Header h1 a{
    color: black;
    text-decoration: none;
}
.Header p{
    font-size: 15%;
    justify-content: baseline;
}
.Header span{ 
    font-size: 10vh;
}


.Body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgb(14,255,3);
    background: linear-gradient(90deg, rgba(14,255,3,0.42) 0%, rgba(9,212,9,0.42) 35%, rgba(0,170,9,0.4150035014005602) 100%);
}
.Body h1{
    font-family: "Marcellus SC";
    border: 5px black solid;
    border-radius: 1px;
    width: fit-content;
}
.Head{
    align-items: center;
    justify-content: center;
    font-family: "Concert One";
    font-size: xx-large;

}
.History{
    align-items: center;
    justify-content: center;
    font-family: "Concert One";
    font-size: xx-large;
}
.Table {
    display: flex ;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 5px black solid;
    border-style: dashed;
    border-radius: 1px;
}

.Male ul {
    list-style: none;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style-position: inside;
    display: list-item;
    margin: 30px;
    padding-right: 100px;
}
.Male li{
    width:  10%;
    display: inline-block;
}
.Male h1{
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-family: "Lilita One";
    font-weight: 50;
    border: 0;
}

.Female ul {
    list-style: none;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style-position: inside;
    display: list-item;
    margin: 30px;
    padding-right: 100px;
}
.Female li{
    width:  10%;
    display: inline-flex;
}
.Female h1{
    display: inline-flex;
    border: 0;
    font-family: "Lilita One";
    font-weight: 50;
}

.Days{
    list-style: none;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style-position: inside;
    display: list-item;
    margin: 30px;
    padding-left: -120px;
}
.Days li{
    width:  10%;
    display: inline-flex;
}
.Days h1{
    display: inline-flex;
    font-family: "Lilita One";
    font-weight: 50;
    border: 0;
}

.Start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Start h1{
    font-family: "Marcellus SC";
    border: 5px black solid;
    border-radius: 1px;
    width: fit-content;
}
.True{
    background-image: url(Images/G4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.top{
    background: rgb(14,3,255);
    background: linear-gradient(90deg, rgba(14,3,255,0.42) 0%, rgba(9,9,212,0.42) 35%, rgba(0,2,170,0.42) 100%);
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.top p {
    font-family: "Concert One";
    font-size: xx-large;
}
.top h2{
    font-family: "Concert One";
    font-size: xx-large;
}
.Form{
    display: flex;
    flex-direction: column;
    font-family: "Concert One";
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background: rgb(14,3,255);
    background: linear-gradient(90deg, rgba(14,3,255,0.42) 0%, rgba(9,9,212,0.42) 35%, rgba(0,2,170,0.42) 100%);
    background-position: center;
    background-size: cover;
}
.Real{
    width: 100%;
    max-width: 650px;
    background: rgba(0, 0, 0, 0.5);
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    box-shadow: inset -2px 2px 2px white;
}
.Submit button{
    display: block;
    width: 100%;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: rgb(209, 209, 209);
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,0.4) 0%, rgba(100,70,252,0.4) 100%);
}
.Submit button:hover{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,0.52) 0%, rgba(253,29,29,0.52) 50%, rgba(252,176,69,0.52) 100%);
    color: white;
}

.Real input{
    text-decoration: dashed;
    size: 15px;
    color: azure;

}
.info input{
    background:none;

}
